@page !important{
margin-left:12mm;
margin-right: 0mm;
margin-top: 12mm;
margin-bottom: 0mm;
height:297mm;
width:210mm;
}

*{
margin-right:0mm;
margin-bottom:0mm;
padding:0mm;
}

body{
margin-right: 0mm;
margin-bottom:0mm;
padding: 0mm;
}
