@page{
margin: 0;
margin-left:0px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
height:297mm;
width:210mm;
}
img{
display:block;
font-size:0;
}
*{
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
padding:0mm;
}

body{
margin-right: 0mm;
margin-bottom:0mm;
padding: 0mm;
}
